<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .table-caption {
            padding-left: 5px;
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <div class="row bg-dark text-white d-flex justify-content-between align-items-center" style="height: 50px;">
        <!-- Dark top bar on the page -->
        <div class="p-2">
            <p>Email: <span th:text="${thisUser.email}"></span>, Roles: <span th:text="${thisUser.getStringRoles()}"></span></p>
            <a href="/logout" class="text-white p-2 position-absolute top-0 end-0">Logout</a>
        </div>


    </div>
    <div class="row">
        <div class="col-2 bg-white p-2" style="height: 100vh;">
            <!-- Белая левая часть страницы -->
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="button">Admin</button>
                <button class="btn btn-outline-primary" type="button">User</button>
            </div>
        </div>
        <div class="col-10 bg-light" style="height: 100vh;">
<!--            Импортированный скрипт-->
            <script src="/JS_code/adminTable.js" ></script>
            <!-- Светло-серая правая часть страницы -->
            <h1 class="p-2">Admin panel</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/createGet">New user</a>
                </li>
                <table class="table table-striped table-hover caption-top" id="adminTable">
                    <caption class="fw-bold table-caption p-3">All users</caption>
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </ul>
        </div>
    </div>
</div>


<!--Edit Modal-->

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editH5Modal">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row bg-white">
                    <div class="col-6 mx-auto text-center font-weight-bold">
                        ID
                        <input type="number" name="idUser" id="idInput" readonly
                               class="form-control"></div>
                </div>
                <div class="row bg-white">
                    <div class="col-6 mx-auto text-center font-weight-bold my-2">
                        Firstname
                        <input type="text" name="firstname" id="firstnameInput"
                               class="form-control">
                    </div>
                </div>
                <div class="row bg-white">
                    <div class="col-6 mx-auto text-center font-weight-bold my-2">
                        Lastname
                        <input type="text" name="lastname" id="lastnameInput"
                               class="form-control">
                    </div>
                </div>
                <div class="row bg-white">
                    <div class="col-6 mx-auto text-center font-weight-bold my-2">
                        Age
                        <input type="number" name="age" id="ageInput"
                               class="form-control"></div>
                </div>
                <div class="row bg-white">
                    <div class="col-6 mx-auto text-center font-weight-bold my-2">
                        Email
                        <input type="email" name="email" id="emailInput"
                               class="form-control"></div>
                </div>

                <div class="row bg-white">
                    <div class="col-6 mx-auto text-center font-weight-bold my-2">
                        Password
                        <input type="password" name="password" id="passwordInput"
                               class="form-control"></div>
                </div>
                <div class="col-6 mx-auto text-center font-weight-bold my-2">
                    Role
                    <select class="custom-select form-control" multiple name="roles" id="roleInput" size="2" required>
                        <option value="ADMIN">ADMIN</option>
                        &nbsp
                        <option value="USER">USER</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary editConfirmBtn" data-userid="${userEditID}">
                    Edit
                </button>
            </div>
        </div>
    </div>
</div>








<!--Delete Modal-->

<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row bg-white">
                    <div class="col-6 mx-auto text-center font-weight-bold my-2">
                        Firstname
                        <input type="text" name="name" id="firstNameDelete" readonly
                               class="form-control" >
                    </div>
                </div>
                <div class="row bg-white">
                    <div class="col-6 mx-auto text-center font-weight-bold my-2">
                        Lastname
                        <input type="text" name="name" id="lastNameDelete" readonly
                               class="form-control" >
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-danger deleteConfirmBtn" data-userid="${userID}">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>




<!-- Delete Success Modal -->
<div class="modal fade" id="deleteSuccessModal" tabindex="-1" role="dialog" aria-labelledby="deleteSuccessModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteSuccessModalLabel">Delete Success</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                User has been successfully deleted.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>



