<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .table-caption {
            padding-left: 5px;
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <div class="row bg-dark text-white d-flex justify-content-between align-items-center" style="height: 50px;">
        <!-- Dark top bar on the page -->
        <div class="p-2">
            <p>Email: <span th:text="${thisUser.email}"></span>, Roles: <span th:text="${thisUser.roles}"></span></p>
            <a href="/logout" class="text-white p-2 position-absolute top-0 end-0">Logout</a>
        </div>


    </div>
    <div class="row">
        <div class="col-2 bg-white p-2" style="height: 100vh;">
            <!-- Белая левая часть страницы -->
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="button">Admin</button>
                <button class="btn btn-outline-primary" type="button">User</button>
            </div>
        </div>
        <div class="col-10 bg-light" style="height: 100vh;">
            <!-- Светло-серая правая часть страницы -->
            <h1 class="p-2">Admin panel</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/create">New user</a>
                </li>
                <table class="table table-striped table-hover caption-top">
                    <caption class="fw-bold table-caption p-3">All users</caption>
                    <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">First Name</th>
                        <th class="text-center">Last Name</th>
                        <th class="text-center">Age</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Roles</th>
                        <th class="text-center">Edit</th>
                        <th class="text-center">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td class="text-center" th:text="${user.id}"></td>
                        <td class="text-center" th:text="${user.firstName}"></td>
                        <td class="text-center" th:text="${user.lastName}"></td>
                        <td class="text-center" th:text="${user.age}"></td>
                        <td class="text-center" th:text="${user.email}"></td>
                        <td class="text-center" th:text="${user.roles}"></td>
                        <td class="text-center">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal">
                                Edit
                            </button>

                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                                Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </ul>
        </div>
    </div>




    <!--EDIT USER-->
    <div>
        <form class="formEditUser">
            <div id="editModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Edit user</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="row bg-white">
                                <div class="col-6 mx-auto text-center font-weight-bold">
                                    ID
                                    <input type="number" name="id" id="idInput" readonly class="form-control"></div>
                            </div>
                            <div class="row bg-white">
                                <div class="col-6 mx-auto text-center font-weight-bold my-2">
                                    Username
                                    <input type="text" name="name" id="nameInput" class="form-control"></div>
                            </div>

                            <div class="row bg-white">
                                <div class="col-6 mx-auto text-center font-weight-bold my-2">
                                    Age
                                    <input type="number" name="age" id="ageInput" class="form-control"></div>
                            </div>

                            <div class="row bg-white">
                                <div class="col-6 mx-auto text-center font-weight-bold">
                                    Email
                                    <input type="email" name="email" id="emailInput" class="form-control"></div>
                            </div>

                            <div class="row bg-white">
                                <div class="col-6 mx-auto text-center font-weight-bold my-2">
                                    Password
                                    <input type="password" name="password" id="passwordInput" class="form-control"></div>
                            </div>

                            <div class="row bg-white">
                                <div class="col-6 mx-auto text-center font-weight-bold">
                                    Role
                                    <select class="custom-select form-control" multiple name="role" id="roleInput" size="2">
                                        <option>ADMIN</option>
                                        &nbsp
                                        <option>USER</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" data-dismiss="modal" class="btn btn-primary editBtn">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    ----
    <!-- Delete-->
    <div>
        <form class="formDeleteUser">
            <div id="deleteModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalDelete">Delete user</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row bg-white" >
                                <div class="col-6 mx-auto text-center font-weight-bold">
                                    ID
                                    <input type="number" name="id" id="idDelete" readonly class="form-control" >
                                </div>
                            </div>

                            <div class="row  bg-white ">
                                <div class="col-6 mx-auto text-center font-weight-bold my-2">
                                    First name
                                    <input type="text" name="name" id="nameDelete" readonly class="form-control"></div>
                            </div>

                            <div class="row bg-white ">
                                <div class="col-6 mx-auto text-center font-weight-bold my-2">
                                    Age
                                    <input type="number" name="age" id="ageDelete" readonly class="form-control"></div>
                            </div>
                            <div class="row bg-white ">
                                <div class="col-6 mx-auto text-center font-weight-bold">
                                    Email
                                    <input type="email" name="email" id="emailDelete" readonly class="form-control"></div>
                            </div>
                            <div class="row bg-white ">
                                <div class="col-6 mx-auto text-center font-weight-bold">
                                    Role
                                    <input type="text" name="role" id="roleDelete" readonly class="form-control"></div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" data-dismiss="modal" class="btn btn-danger deleteBtn">Delete</button>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>









<!--<form th:action="@{/admin/update}" th:method="post" th:object="user">-->
<!--    <button type="submit" data-dismiss="modal"-->
<!--            class="btn btn-primary editBtn">Edit-->
<!--    </button>-->
<!--</form>-->

<!--<form th:action="@{/admin/delete/{id}(id=user.id)}" th:method="post">-->
<!--    <button type="submit" data-dismiss="modal"-->
<!--            class="btn btn-danger deleteBtn">Delete-->
<!--    </button>-->
<!--</form>-->